<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.remained.silence.student.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="top.remained.silence.student.bean.Student">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="INTEGER"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="clazzId" column="clazz_id" jdbcType="BIGINT"/>
            <result property="tel" column="tel" jdbcType="INTEGER"/>
            <result property="birth" column="birth" jdbcType="DATE"/>
            <result property="img" column="img" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,gender,
        age,state,clazz_id,
        job,tel,birth,
        img,year
    </sql>
    <sql id="Base_Column_List1">
        s.id,s.name,gender,
        age,state,clazz_id,
        tel,birth,job,
        img,year
    </sql>

    <resultMap id="BaseResultMap11" type="top.remained.silence.student.bean.Student">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="INTEGER"/>
        <result property="age" column="age" jdbcType="INTEGER"/>
        <result property="state" column="state" jdbcType="INTEGER"/>
        <result property="clazzId" column="clazz_id" jdbcType="BIGINT"/>
        <result property="tel" column="tel" jdbcType="INTEGER"/>
        <result property="birth" column="birth" jdbcType="DATE"/>
        <result property="img" column="img" jdbcType="VARCHAR"/>
        <association property="clazz" javaType="top.remained.silence.clazz.bean.Clazz">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="teacherName" column="teacher_name" jdbcType="VARCHAR"/>
            <result property="teacher1Name" column="teacher1_name" jdbcType="VARCHAR"/>
            <result property="collegeName" column="college_name" jdbcType="VARCHAR"/>
            <result property="majorName" column="major_name" jdbcType="VARCHAR"/>
        </association>
    </resultMap>
    <select id="getDetail" resultMap="BaseResultMap11" >
        select <include refid="Base_Column_List1"/>,c.name,teacher_name,teacher1_name,college_name,major_name
        from s_student s
        join s_clazz c
        on s.id = c.id and s.id=#{id} and <if test="gender==1">

    </if>
    </select>
    <select id="getEcharts" resultType="java.util.HashMap">
        SELECT COUNT(1)  value,IFNULL(s.job,'无工作') name  FROM s_student s   GROUP BY s.job
    </select>
    <select id="getEcharts2" resultType="top.remained.silence.system.bean.Ech">
        SELECT COUNT(1)  value,IFNULL(s.job,'无工作') name  FROM s_student s   GROUP BY s.job
    </select>
</mapper>
